name: Run default CI jobs

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * 5' # 18:00 on Friday JST

env:
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.51.2
      - name: Setup workspace
        run: |
          task --yes setup-dev
      - name: 'Run linters'
        run: |
          lefthook run pre-commit --all-files
  doctest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.51.2
      - name: Run tests
        run: |
          task --yes setup-dev
          task docs:build-linkcheck docs:build-dirhtml
